.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
    color: #fff;
  }

  .input-group-append{
    color: #fff;
    background-color: orange;
  }
  .input-group{
    color: #fff;
    background-color: orange;
  }